opensync/merger/xmlformat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            version="1.0"
            elementFormDefault="qualified" >

  <xsd:annotation>
    <xsd:documentation>
      
    </xsd:documentation>
  </xsd:annotation>

  <xsd:element name="contact">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Address" type="Address" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="AddressLabel" type="AddressLabel" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Aim" type="Aim" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Anniversary" type="DateContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Assistant" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Birthday" type="DateContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="BlogUrl" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="CalUri" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Categories" type="Categories" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Class" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="EMail" type="EMail" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="FbUrl" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="FormattedName" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="GroupWise" type="GroupWise" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Icq" type="Icq" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Key" type="Key" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Location" type="Location" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Manager" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Msn" type="Msn" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Name" type="Name" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Nickname" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Note" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Organization" type="Organization" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Photo" type="Photo" minOccurs="0" maxOccurs="1" />
        <xsd:element name="PhotoUrl" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Rev" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Role" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Sound" type="Sound" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Spouse" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Telephone" type="Telephone" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Title" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Uid" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Url" type="StringContent" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="UserDefined" type="UserDefined" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Version" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="VideoUrl" type="StringContent" minOccurs="0" maxOccurs="1" />
        <xsd:element name="WantsHTML" type="WantsHTML" minOccurs="0" maxOccurs="1" />
        <xsd:element name="Yabber" type="Yabber" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Yahoo" type="Yahoo" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:integer"/>
    </xsd:complexType>
  </xsd:element>
 
    <xsd:complexType name="StringContent">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>


  
    <xsd:complexType name="DateContent">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:date" minOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  

  <xsd:simpleType name="Preferred">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AddressLocation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home"/>
      <xsd:enumeration value="Work"/>
      <xsd:enumeration value="Domestic"/>
      <xsd:enumeration value="International"/>
      <xsd:enumeration value="Postal"/>
      <xsd:enumeration value="Parcel"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Address">
      <xsd:sequence>
        <xsd:element name="Postofficebox" type="xsd:string" minOccurs="0" />
        <xsd:element name="Extendedaddress" type="xsd:string" minOccurs="0" />
        <xsd:element name="Street" type="xsd:string" minOccurs="0" />
        <xsd:element name="Locality" type="xsd:string" minOccurs="0" />
        <xsd:element name="Region" type="xsd:string" minOccurs="0" />
        <xsd:element name="PostalCode" type="xsd:string" minOccurs="0" />
        <xsd:element name="Country" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="Type" type="AddressLocation"/>
      <xsd:attribute name="Pref" type="Preferred"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="AddressLabel">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="Type" type="AddressLocation"/>
      <xsd:attribute name="Pref" type="Preferred"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Categories">
      <xsd:sequence>
        <xsd:element name="Category" type="xsd:string" minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  

  <xsd:simpleType name="EMailType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Internet"/>
      <xsd:enumeration value="IbmMail"/>
      <xsd:enumeration value="Aol"/>
      <xsd:enumeration value="AppleLink"/>
      <xsd:enumeration value="AttMail"/>
      <xsd:enumeration value="Cis"/>
      <xsd:enumeration value="eWorld"/>
      <xsd:enumeration value="MciMail"/>
      <xsd:enumeration value="Powershare"/>
      <xsd:enumeration value="Prodigy"/>
      <xsd:enumeration value="Tix"/>
      <xsd:enumeration value="X400"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EMailLocation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home"/>
      <xsd:enumeration value="Work"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="EMail">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
      </xsd:sequence>
      <xsd:attribute name="Type" type="EMailType"/>
      <xsd:attribute name="Loc" type="EMailLocation"/>
      <xsd:attribute name="Pref" type="Preferred"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Name">
      <xsd:sequence>
        <xsd:element name="LastName" type="xsd:string" minOccurs="0" />
        <xsd:element name="FirstName" type="xsd:string" minOccurs="0" />
        <xsd:element name="Additional" type="xsd:string" minOccurs="0" />
        <xsd:element name="Prefix" type="xsd:string" minOccurs="0" />
        <xsd:element name="Suffix" type="xsd:string" minOccurs="0" />
     </xsd:sequence>
    </xsd:complexType>
  

  
    <xsd:complexType name="Organization">
      <xsd:sequence>
        <xsd:element name="Name" type="xsd:string" minOccurs="0" />
        <xsd:element name="Department" type="xsd:string" minOccurs="0" />
        <xsd:element name="Unit" type="xsd:string" minOccurs="0" />
     </xsd:sequence>
    </xsd:complexType>
  

  <xsd:simpleType name="TelephoneType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Voice"/>
      <xsd:enumeration value="Cellular"/>
      <xsd:enumeration value="Fax"/>
      <xsd:enumeration value="Message"/>
      <xsd:enumeration value="Pager"/>
      <xsd:enumeration value="Modem"/>
      <xsd:enumeration value="Isdn"/>
      <xsd:enumeration value="Assistant"/>
      <xsd:enumeration value="Callback"/>
      <xsd:enumeration value="Company"/>
      <xsd:enumeration value="Car"/>
      <xsd:enumeration value="Radio"/>
      <xsd:enumeration value="Telex"/>
      <xsd:enumeration value="TtyYtdd"/>
      <xsd:enumeration value="Bbs"/>
      <xsd:enumeration value="Video"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TelephoneLocation">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home"/>
      <xsd:enumeration value="Work"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Telephone">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="TelephoneType"/>
     <xsd:attribute name="Loc" type="TelephoneLocation"/>
     <xsd:attribute name="Pref" type="Preferred"/>
    </xsd:complexType>
  

  <xsd:simpleType name="KeyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="X509"/>
      <xsd:enumeration value="Pgp"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Key">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="KeyType"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Location">
      <xsd:sequence>
        <xsd:element name="Latitude" type="xsd:string" minOccurs="1" />
        <xsd:element name="Longitude" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
    </xsd:complexType>
  

  <xsd:simpleType name="Messaging">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Icq">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Msn">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Aim">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="GroupWise">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Yahoo">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="Yabber">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="Messaging"/>
    </xsd:complexType>
  

  <xsd:simpleType name="Bool">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="True"/>
      <xsd:enumeration value="False"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="WantsHTML">
     <xsd:attribute name="Type" type="Bool"/>
    </xsd:complexType>
  

  <xsd:simpleType name="PhotoFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bmp"/>
      <xsd:enumeration value="Gif"/>
      <xsd:enumeration value="Cgm"/>
      <xsd:enumeration value="Wmf"/>
      <xsd:enumeration value="Met"/>
      <xsd:enumeration value="Pmb"/>
      <xsd:enumeration value="Dib"/>
      <xsd:enumeration value="Pict"/>
      <xsd:enumeration value="Tiff"/>
      <xsd:enumeration value="Ps"/>
      <xsd:enumeration value="Pdf"/>
      <xsd:enumeration value="Jpeg"/>
      <xsd:enumeration value="Mpeg"/>
      <xsd:enumeration value="Mpeg2"/>
      <xsd:enumeration value="Avi"/>
      <xsd:enumeration value="Qtime"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PhotoEncode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="b"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Photo">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="PhotoFormat"/>
     <xsd:attribute name="Encoding" type="PhotoEncode"/>
    </xsd:complexType>
  

  <xsd:simpleType name="SoundFormat">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Wave"/>
      <xsd:enumeration value="Pcm"/>
      <xsd:enumeration value="Aiff"/>
    </xsd:restriction>
  </xsd:simpleType>

  
    <xsd:complexType name="Sound">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
     <xsd:attribute name="Type" type="SoundFormat"/>
    </xsd:complexType>
  

  
    <xsd:complexType name="UserDefined">
      <xsd:sequence>
        <xsd:element name="Content" type="xsd:string" minOccurs="1" />
     </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
